/vendor/
/node_modules/
/public/build/
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.backup
.phpunit.result.cache
.idea/
.vscode/
.DS_Store
